
.icon-zoom-in:before { content: '\e800'; } /* '' */
.icon-zoom-out:before { content: '\e801'; } /* '' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-bitcoin:before { content: '\e803'; } /* '' */
.icon-font:before { content: '\e804'; } /* '' */
.icon-moon:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-language:before { content: '\e807'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */