/*
font-family: 'Montserrat', sans-serif;
font-family: 'Slabo 27px', serif;
*/
body {
  font-family: 'Montserrat', sans-serif;
}

#textinput
{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    font-size: 5vh;
    border-radius: 6px;
    /* box-shadow: none; */
    overflow:auto;
    resize:none;
    height:10vh;
    font-family: 'Slabo 27px', serif;
    padding:10px;
}

.jumbotron {
  font-size: 2.3em;
  line-height: 150%;
  background-color: white;
  padding-top: 20px;
}

.typeDisplayDiv
{
  height: 500px;
}

.textBG
{
  padding-bottom: 5vh;
}

#text {
  font-family: 'Slabo 27px', serif;
  font-size: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-brand img {
  max-height: 30px;
}

.textMenu {
  float:right;
  margin-bottom: 2%;
}

.textMenu button {
  padding:1px;
}

#mainPageLogo {
  margin-top: 6%;
  max-width: 40%;
}

.card {
  margin-bottom: 5%;
  background-color: transparent;
  border: none;
}

#textLogo {
    font-size: 5vh;
}

#here {
  font-size: 0.8em;
}

#textinput::-webkit-scrollbar {
   display: none;
 }


#statsText {
    display:none;
}

#statsText .media {
  margin-top: 2%;
  margin-bottom: 7%;
}


.LoadingScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1050;
  background-color: white;
  opacity: 0.95;
  display:block;
}

.LoadingScreen .container {
  position: fixed;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
}

.completed-words
{
  color: rgba(40, 167, 69, 0.9);
}
.current-word
{
  border-bottom: 2px solid black;
}


button
{
  cursor: pointer;
}
.disabled
{
  cursor:not-allowed !important;
}

#typeDiv input
{
  display: inline-block;
}

#typeDiv button
{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translate(0%, -50%);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

}
